.container {
  box-sizing: border-box;
  background-color: #332c39;
  min-height: 100vh;
  padding-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}
.reset {
  background-color: #171717;
  cursor: pointer;
  color: #cae9f8;
  height: 50px;
  width: 30%;
  font-size: 20px;
  border: none;
}
